
@media (min-width: 320px) and (max-width: 576px){
    .air-map-container .air-map-col ul.map-vert-tools , .air-map-container .air-map-col ul.map-hori-tools{
        display: none;
    }
    .banner-section .carousel-caption{
        top: 13%;
    }
    .home-slider-animation .emirates-text{
        font-size: 24px;
    }
    .banner-section .carousel-caption .h5{
        font-size: 35px; top: 54px;
    }
    .weather-card{
        top: 83px; right: 5px;
    }
    .circular-width{
        width: 230px;
        height: 230px;
    }
    .air-map-container .overview-heading{
        padding: 5px 10px;
    }
    .air-map-container .list-container{
        display: block; width: 85%;
    }
    .air-map-container .list-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid #e7e5e5;
    }
    .air-map-container .air-map-col{
        margin-bottom: 10px;
    }
    .air-map-container .list-item span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .air-map-container .list-item p{
        position: relative;
    }
    .air-map-container .list-item p::before{
        content: '';
        position: absolute;
        height: 68%;
        width: 1px;
        right: 0px;
        bottom: -8px;
        transform: translateY(-50%);
        background: #bdbdbd;
    }
    .ead-monitoring-project, .contact-section {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 8%;
    }
    .sticky-top{
        top: -2px;
    }
    .project-slider .item{
        width: 300px;
    }
    .sidebar{
        overflow: auto;
    }
    .faq-section h4{
        font-size: 20px;
        float: unset;
        text-align: center;
        margin-right: 0 !important;
    }
    .faqscrolling{
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }
    .contact-section .left-side::before{
        display: none;
    }
    .contact-content{
        width: 100%;
    }
    .myContentHeight{
        margin-top: 10%;
    }
    .footer-container{
        padding-right: 25px; padding-left: 25px;
    }
    footer .social-small-links .left ul.social-media{
        display: none;
    }
    footer .copy-rights{
        display: unset;
    }
    footer .copy-rights ul{
        padding-left: 0;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .banner-section .carousel-caption .h5{
        margin-top: 0;
    }
    header .headerpt-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    header .search-block {
        width: auto;
        justify-content: flex-start;
        padding: 6px 0px 0 0px;
        order: 1;
    }
    .banner-section .carousel-caption p{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px){

}



@media (min-width: 1200px) and (max-width: 1320px){
    
}
@media (min-width: 1350px) and (max-width: 1369px){
    /* .interesting-facts-section .contri-box{
        height: calc(50% - 34px);
    } */
}
@media (min-width: 1200px) and (max-width: 1402px){

}

@media (min-width: 1403px) and (max-width: 1450px){
   
}

@media (min-width: 1700px) and (max-width: 1750px){

}


@media screen and (min-width: 1355px) and (max-width: 1368px) and (min-height: 600px) and (max-height: 765px) {
    .banner-section .carousel-caption .h6{
        font-size: 14px;
    }
    .banner-section .home-slider-animation .six-resolution-mt30{
        margin-top: 30px!important;
    }
    .banner-section .home-slider-animation .six-resolution-mt10{
        margin-top: 10px!important;
    }
    .drop-arrow-icon{
        bottom: 15px;
    }
    .drop-arrow-icon1{
        bottom: 35px;
    }
    .air-map-container .air-map-col .mp-resolution, .air-map-container .air-map-col iframe {
        height: 500px;
    }
    .air-map-container .list-container{
        padding: 0px 0;
    }
    .air-map-container .overview-heading{
        margin-top: 8px !important;
    }
    .air-map-container .list-item p {
        font-size: 32px;
    }
    .ead-monitoring-project, .contact-section{
        margin-top: 6%;
    }
    .modal-background img{
        height: 280px;
    }
    .project-modal .h-200-scroll{
        height: 185px;
    }
    .project-slider .item{
        width: 300px;
    }
    #section3, #section5{
        background-size: 350px;
    }
    .faqscrolling{
        height: 423px;
        overflow: auto;
        padding-right: 20px;
    }
    .myContentHeight{
        height: 258px;
    }
      /* =====================Sachin Responsive CSS===================== */
      .insight .data-sort_sidebar h2 {
        padding-bottom: 8px;
        font-size: 14px;
    }
    .insight .search-box .p-input input {
        padding: 8px 30px;
    }
    .insight .inner_list-content p {
        font-size: 11px;
    }
    .insight .inner_list-content span {
        font-size: 10px;
    }
    .insight .data-list label.list-group-item {
        margin-bottom: 6px;
    }
    .insight .quality-index-wrapper-h2 h2 {
        font-size: 18px;
        padding-bottom: 5px;
        margin: 0px;
        min-height: 48px !important;
    }
    .insight .number-index p strong {
        font-size: 48px;
        line-height: 48px;
    }
    .insight .main-box {
        padding: 0.5rem 1rem;
    }
    .insight .index-content {
        gap: 10px;
    }
    .insight .Causes-img img {
        max-width: 40px;
    }
    .insight .activities-imgs img {
        max-width: 40px;
        height: 40px;
    }
    .insight .Causes-img p, .insight .activities-imgs p {
        font-size: 10px;
    }
    .insight .activities-imgs {
        gap: 5px;
    }
    .insight .graph-duration-filters .btn {
        width: 115px;
        padding: 6px;
        font-size: 12px;
    }
    .insight .tab_shado {
        padding: 15px 10px;
    }
    .insight .chart-f-content p {
        font-size: 14px;
        padding-top: 7px;
    }
    .insight .date_row ul li p {
        font-size: 13px;
        margin-bottom: 3px;
    }
    .air_p p {
        margin: 0px;
    }
    .insight #radarChart {
        width: 340px !important;
        height: 300px !important;
    }
    .insight .hour_box ul li {
        gap: 6px;
        height: 100px;
    }
    .insight .hour_box ul li span {
        font-size: 18px;
    }
    .insight .hour_box li h3 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .insight #carouselExampleControls .carousel-item .contact-content p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 9px;
    }
    .contact-content p {
        font-size: 14px;
        line-height: 18px;
    }
    .insight .aqi-content {
        top: -12.7%;
        left: 18%;
    }
    .insight .data-list {
        max-height: 64vh;
    }
    /* =============6 MARCH 2024========= */
    .insight .quality-index-wrapper-h2 h3{
        margin: 0;
    }
    .insight .silde-dv{
        margin-top: 1%;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1367px) and (min-height: 767px) and (max-height: 768px) {

}